.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
log.out
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/main/resources/jave/nativebin/ffmpeg-aarch64
/src/main/resources/jave/nativebin/ffmpeg-aarch64-osx
/src/main/resources/jave/nativebin/ffmpeg-amd64
/src/main/resources/jave/nativebin/ffmpeg-amd64.exe
/src/main/resources/jave/nativebin/ffmpeg-arm
/src/main/resources/jave/nativebin/ffmpeg-i386
/src/main/resources/jave/nativebin/ffmpeg-x86.exe
/src/main/resources/jave/nativebin/ffmpeg-x86_64-osx
/src/main/resources/jave/ffmpeg-amd64.exe
